.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* position: relative; */
}

.products-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.proceed-link {
    text-decoration: none;
}

.btn-proceed {
    background: #FF9900;
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin: 10px auto;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-container .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 30px;
}

.shop-container .pagination button {
    background: #dbdbdb;
    font-size: 18px;
    border-radius: 4px;
    color: rgb(31, 31, 31);
}

.shop-container .pagination button.active {
    background-color: #FF9900;
    color: white;
}

.shop-container .pagination select {
    width: 50px;
    height: 35px;
    border-radius: 4px;
    font-size: 18px;
    border: 1px solid rgb(31, 31, 31);
}